<!DOCTYPE html>
<html lang="sv">
    <title>MoveIt</title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/stylesheet/main.min.css">
    <body>
        <div class="container">
            <header data-module="Header"><h1></h1></header>
            <main>
                <section data-module="Order" class="order-container">
                    <form class="form-horizontal">
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="name">Namn</label>
                            <div class="col-sm-9">
                                <input type="text" id="name" name="name" class="form-control col-sm-9" req="min:3 | max:30"/><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="email">Epost</label>
                            <div class="col-sm-9">
                                <input type="text" id="email" name="email" class="form-control" req="email"/><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="from">Från adress</label>
                            <div class="col-sm-9">
                                <input type="text" id="from" name="from" class="form-control" req="min:5 | max:30" /><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="to">Till adress</label>
                            <div class="col-sm-9">
                                <input type="text" id="to" name="to" class="form-control"  req="min:5 | max:30" /><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="distance">Avstånd (km)</label>
                            <div class="col-sm-9">
                                <input type="number" id="distance" name="distance" class="form-control" req="number" /><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label col-sm-3" for="livingspace">Bostadens yta (kvm)</label>
                            <div class="col-sm-9">
                                <input type="number" id="livingspace" name="livingspace" class="form-control" req="number" /><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="extraspace">Vind/källare (kmv)</label>
                            <div class="col-sm-9">
                                <input type="number" id="extraspace" name="extraspace" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox col-sm-offset-3 col-sm-2">
                                <label>
                                    <input type="checkbox" type="checkbox" name="piano" id="piano">
                                    Piano
                                </label>
                            </div>
                            <div class="checkbox col-sm-2">
                                <label>
                                    <input type="checkbox" type="checkbox" name="unpacking" id="unpacking"/>
                                    Packhjälp
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                              <input type="submit" id="submit" class="btn btn-success"/>
                            </div>
                          </div>
                    </form>
                </section>
                <section data-module="Result" class="text-center result-container hidden">
                    <div class="result-from-server"></div>
                    <button class="btn btn-warning btn-close">Skapa ny order</button>
                    <button class="btn btn-success btn-order">Beställ</button>
                </section>
                <section data-module="Receipt" class="text-center receipt-container hidden">
                    <div class="receipt-from-server"></div>
                    <button class="btn btn-warning btn-close">Skapa ny order</button>
                </section>
            </main>
        </div>
        <script src="/javascript/main.min.js" ></script>
    </body>
</html>
