.container {
    width:100%;
    max-width: 800px;
    border: solid 1px #e7e7e7;
    margin: 20px auto 0;
    padding:10px;
    height: 100%;
}

.result-container, .order-container, .receipt-container {
    width:80%;
    height: 100%;
    margin: 0 auto;
}

.result-container {
    width: 100%;
    height: 100%;
    background: #FFF;
    text-align: center;
}

.result-from-server {
    width: 70%;
    margin: 0 auto 20px;
    text-align: left;
}


@media all and ( max-width: 780px ) {

    .container {
        width: 98%;
    }
    .result-from-server {
        text-align: center;
        width: 100%;
    }

    .result-container, .order-container, .receipt-container {
        width: 98%;
    }
}
