header {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

main {
    position: relative;
}

ul {
    padding: 0;
    margin: 0 0 10px 15px;
}

@media all and ( max-width: 760px ) {
    h1 {
        font-size: 26px;
    }

    ul {
        list-style-type: none;
    }
}
